
html, body {
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(198, 83, 140);
	border-top: 50px solid black;
}

h1 {
	font-family: "Lobster", cursive;
	font-size: 20em;
	color: white;
	text-align: center;
	vertical-align: center;
}
