@import url('https://fonts.googleapis.com/css?family=Lobster');
@import "./common.scss";

$FONT-PATH : "./../font/";

@font-face {
    font-family: "C64";
    src: url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.svg") format("svg"),
         url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.ttf") format("truetype"),
         url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.woff2") format("woff2"),
         url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.woff") format("woff");
}

$BACKGROUND_COLOUR : rgb(0, 130, 200);
$FOREGROUND_COLOUR : rgb(255, 255, 255);

html {
    margin: 0;
    padding: 0 20%;
}

html > body {
    all: default;
    background-color: $BACKGROUND_COLOUR;
    background-image: url(../../../res/10print.png);
    background-repeat: repeat;
    background-size: initial;
    font-family: "C64", monospace;
    margin: 0;
    padding: 0;
}

main {
    padding: 1% 1%;
    background-color: $BACKGROUND_COLOUR;

    article {
        margin: 1% 0;
        padding: 0.25% 0.5%;

        border: 5px solid black outset;
        color: black;

        h4 {
            margin: 0;
            padding: 0;
        }

        header {
            background-color: $BACKGROUND_COLOUR;
            border: 2px solid white;
            border-style: outset;
            font-family: "C64", monospace;
            padding: 1px 0;
        }

        section {
            background-color: white;
            font-family: "Consolas", monospace;
            padding: 0;
        }
    }
}
