@import url('https://fonts.googleapis.com/css?family=Lobster');
@import "./common.scss";

$FONT-PATH : "./../font/";

@font-face {
    font-family: "C64";
    src: url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.svg") format("svg"),
         url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.ttf") format("truetype"),
         url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.woff") format("woff"),
         url("#{$FONT-PATH}/C64_Pro_Mono-STYLE.woff2") format("woff2");
}

html, body {
    margin: 0;
    padding: 0;

    background-color: rgb(0, 130, 200);
    color: white;
    font-family: "C64", monospace;
    font-size: 2vw;
    letter-spacing: -0.2em;
    line-height: 0.8em;
}

#slash-maze {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
